<mat-card>
  <h1>Chat Assistant</h1>
  <div class="chat-history">
    <div *ngFor="let message of messages">
      <p class="user-output"><b>User:</b> {{ message.userMessage }}</p>
      <p class="bot-output"><b>Bot:</b> {{ message.botResponse }}</p>
      <button
        class="like-button"
        mat-icon-button
        (click)="rateMessage(message.id, 1)"
        [ngClass]="message.rating !== -1 ? '' : 'rated-grayed-out'"
      >
        👍
      </button>
      <button
        class="like-button"
        mat-icon-button
        (click)="rateMessage(message.id, -1)"
        [ngClass]="message.rating !== 1 ? '' : 'rated-grayed-out'"
      >
        👎
      </button>
    </div>
  </div>

  <div class="user-input">
    <mat-form-field>
      <input matInput placeholder="Type a message" [(ngModel)]="userMessage" />
    </mat-form-field>
    <button
      class="input-btn"
      [disabled]="userMessage === ''"
      mat-raised-button
      color="primary"
      (click)="sendMessage()"
      *ngIf="!isTypingInProgress"
    >
      Send
    </button>
    <button
      class="input-btn"
      mat-raised-button
      color="accent"
      (click)="interruptTyping()"
      *ngIf="isTypingInProgress"
    >
      Stop
    </button>
  </div>
</mat-card>
